<h1>Welcome To Tech Talent Store</h1>
<% if current_user.nil? %>
<h3>Give us your money</h3>
<% else %>
	<h3>Take a look, <strong><%= current_user.name %>...</strong></h3>
<% end %>

<%= render 'product_loop' %>